{% extends "template.html" %}
{% block content %}

<div class="page-body">
	<div class="faq">
		<h2>What are Props?</h2>
		<p>Props are redeemable points you give to your co-workers for going above and beyond. These Props can be redeemed for real-life rewards.</p>
		<h2>When should I give someone Props?</h2>
		<p>Whenever you think someone crushed it! Maybe they went above and beyond to help you out, or maybe you thought someone did an amazing job on a project, Props should be used when you think an Uber employee deserves props. As a rule of thumb, Props should generally only be given to people that you've directly interacted with, ie it's not meant for PRO team to be flooded with Props by all Uber employees. </p>
		<h2>How many Props can I give out?</h2>
		<p>Each employee is given 2,000 giveable Props at the beginning of each calendar year. Props can be given out in increments of 100 and it is up to you how many to give!</p>
		<h2>Do props roll-over year to year?</h2>
		<p>Redeemable Props will rollover, but giveable props will NOT rollover.</p>
		<h2>Can I just redeem my 2,000 awardable Props?</h2>
		<p>No. You are not able to redeem your awardable props. </p>
		<h2>What happens when I give someone Props?</h2>
		<p>Upon giving Props, both the employee you're awarding and his/her manager will receive a notification email. The awardee's manager will be prompted to review and approve the Props ASAP, after which they will flow into the employee's Props bank.</p>
		<h2>Where are my items shipped?</h2>
		<p>Items redeemed in the Uber Props marketplace are automatically shipped to your city's office. </p>
		<h2>Can I change my redeemable Props to giveable Props when I run out of giveable?</h2>
		<p>At the current time you cannot, but this is something we hope to build capability for in the future!</p>
	</div>
</div>

</body>

</html>
{% endblock %}