<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<title>Uber Props: Redeem</title>

<body>

<div class="logo-header"><img src="images/uber-logo.png"/></div>

<div class="nav-bar">
	<a href="home.html" class="nav-button" id="nav-button-first">HOME</a>
	<a href="give.html" class="nav-button">GIVE</a>
	<a href="redeem.html" class="nav-button" id="nav-button-current">REDEEM</a>
	<a href="about.html" class="nav-button">ABOUT</a>
</div>

<div class="page-body">
	<div class="account-balance">
		<p>My Balance: <img src="images/props-icon.png"/><span>1500</span></p>
	</div>
	<div class="item-listing">
		<div class="item-image">
			<a href="item-listing.html"><img src="images/items/item1.jpg"/></a>
		</div>
		<div class="item-info">
			<h2 class="item-title"><a href="item-listing.html">Title</a></h2>
			<p class="item-cost"><img src="images/props-icon.png"/><span>200</span></p>
			<p class="item-description">Locavore ugh DIY Blue Bottle meditation butcher. Art party Brooklyn try-hard leggings, banjo swag tousled. Scenester mlkshk umami gentrify. Ennui plaid Etsy High Life. Listicle gastropub blog, post-ironic bicycle rights Kickstarter lumbersexual four dollar toast banh mi roof party Carles butcher Banksy.</p>
			<a href="item-listing.html" class="bluebutton">GET IT!</a>
		</div>
	</div>
</div>

</body>

</html>